<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WLReports.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WLReports.Properties.Settings>
            <setting name="CsvFileLocation" serializeAs="String">
                <value>C:\temp</value>
            </setting>
            <setting name="WLMaxYAxis" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WLMinYAxis" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="bShiftOneCheck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bShiftTwoCheck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bShiftThreeCheck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bHourRepCheck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bDayRepCheck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WLScanTimerOn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PeriodRepCheck" serializeAs="String">
                <value>False</value>
            </setting>
        </WLReports.Properties.Settings>
    </userSettings>
</configuration>