<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ForteReports.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ForteReports.Properties.Settings>
            <setting name="BRepTimerOn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bHourRepCheck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bShiftOneCheck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bShiftTwoCheck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bShiftThreeCheck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bDayRepCheck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShiftOneTime" serializeAs="String">
                <value>10/27/2021 14:25:00</value>
            </setting>
            <setting name="ShiftTwoTime" serializeAs="String">
                <value>10/27/2021 14:25:00</value>
            </setting>
            <setting name="ShiftThreeTime" serializeAs="String">
                <value>10/27/2021 14:26:00</value>
            </setting>
            <setting name="ProdDayEnd" serializeAs="String">
                <value>10/27/2021 14:26:00</value>
            </setting>
            <setting name="iScanRate" serializeAs="String">
                <value>60</value>
            </setting>
        </ForteReports.Properties.Settings>
    </userSettings>
</configuration>