<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SQLDataTansfer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SQLDataTansfer.Properties.Settings>
            <setting name="RtScannerOn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WlXferScannerOn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="xferRtUserId" serializeAs="String">
                <value>forte</value>
            </setting>
            <setting name="xferRtUserPwd" serializeAs="String">
                <value>etrof</value>
            </setting>
            <setting name="ConnString" serializeAs="String">
                <value />
            </setting>
            <setting name="WinAuCheck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="xferRtHost" serializeAs="String">
                <value />
            </setting>
            <setting name="xferRtInstant" serializeAs="String">
                <value>SQLEXPRESS</value>
            </setting>
            <setting name="XferRtDbName" serializeAs="String">
                <value />
            </setting>
            <setting name="XferRtTableName" serializeAs="String">
                <value />
            </setting>
            <setting name="XferRtServerName" serializeAs="String">
                <value />
            </setting>
            <setting name="RtSQLAuthenticate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CurrUID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RtXferScannerOn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="xferWlServerName" serializeAs="String">
                <value />
            </setting>
            <setting name="xferWlHost" serializeAs="String">
                <value />
            </setting>
            <setting name="xferWlInstant" serializeAs="String">
                <value>SQLEXPRESS</value>
            </setting>
            <setting name="xferWlUserId" serializeAs="String">
                <value>forte</value>
            </setting>
            <setting name="xferWlUserPwd" serializeAs="String">
                <value>etrof</value>
            </setting>
            <setting name="xferWlTableName" serializeAs="String">
                <value />
            </setting>
            <setting name="xferWlDbName" serializeAs="String">
                <value />
            </setting>
            <setting name="wlWinAuCheck" serializeAs="String">
                <value>False</value>
            </setting>
        </SQLDataTansfer.Properties.Settings>
    </userSettings>
</configuration>