<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="RTRep.Services.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <RTRep.Services.Properties.Settings>
            <setting name="Host" serializeAs="String">
                <value />
            </setting>
            <setting name="LocalHost" serializeAs="String">
                <value />
            </setting>
            <setting name="Instance" serializeAs="String">
                <value>SQLEXPRESS</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value>forte</value>
            </setting>
            <setting name="PassWord" serializeAs="String">
                <value>etrof</value>
            </setting>
            <setting name="RTDatabase" serializeAs="String">
                <value>ForteData</value>
            </setting>
            <setting name="WLDatabase" serializeAs="String">
                <value>ForteLayer</value>
            </setting>
            <setting name="ScanRate" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="DayEndTime" serializeAs="String">
                <value>10/29/2021 07:00:00</value>
            </setting>
            <setting name="ShiftOneEnd" serializeAs="String">
                <value>10/29/2021 07:00:00</value>
            </setting>
            <setting name="ShiftTwoEnd" serializeAs="String">
                <value>10/29/2021 16:24:00</value>
            </setting>
            <setting name="ShiftThreeEnd" serializeAs="String">
                <value>10/29/2021 16:33:00</value>
            </setting>
            <setting name="WeightUnit" serializeAs="String">
                <value />
            </setting>
            <setting name="MoistureType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DayReportOn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HourReportOn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MoistureUnit" serializeAs="String">
                <value>%MC</value>
            </setting>
            <setting name="WeightType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CurrProdDayEnd" serializeAs="String">
                <value />
            </setting>
            <setting name="PrevProdDayEnd" serializeAs="String">
                <value />
            </setting>
            <setting name="NextProdDayEnd" serializeAs="String">
                <value />
            </setting>
            <setting name="DayEndHrMn" serializeAs="String">
                <value />
            </setting>
            <setting name="RTRepPrn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RTCSV" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WLCSV" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RtReportOn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WlReportOn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BExcelOut" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BRtExcelOut" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ExCsvOn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ExCsvFileLocation" serializeAs="String">
                <value>C:\temp</value>
            </setting>
            <setting name="BRtCsvOut" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RtScannerOn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WlScannerOn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ScanRateWl" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="ExCsvFileLocationWL" serializeAs="String">
                <value>C:\temp</value>
            </setting>
            <setting name="HourStart" serializeAs="String">
                <value>2021-12-21</value>
            </setting>
            <setting name="HourEnd" serializeAs="String">
                <value>2021-12-21</value>
            </setting>
            <setting name="UsedProdTime" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ReportFields" serializeAs="String">
                <value />
            </setting>
            <setting name="UsedCusField" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="XFerOn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ClientConStr" serializeAs="String">
                <value />
            </setting>
            <setting name="XferScanRateRt" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="CurrUID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SQLTransferOn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RtTransferEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WlTransferEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BaleActive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WLActive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SQLXferValid" serializeAs="String">
                <value>False</value>
            </setting>
        </RTRep.Services.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="8fb06cb64d019a17" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.19.0.0" newVersion="2.19.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unity.Abstractions" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.11.7.0" newVersion="5.11.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Prism.Wpf" publicKeyToken="40ee6c3a2184dc59" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.1.97.5141" newVersion="8.1.97.5141" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Prism" publicKeyToken="40ee6c3a2184dc59" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.1.97.5141" newVersion="8.1.97.5141" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unity.Container" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.11.10.0" newVersion="5.11.10.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>