<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BaleReports.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="BaleReports.Properties.Settings.ForteDataConnectionString"
            connectionString="Data Source=PK-DT\SQLEXPRESS;Initial Catalog=ForteData;Persist Security Info=True;User ID=forte;Password=etrof"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <BaleReports.Properties.Settings>
            <setting name="ScanTimerOn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bHourRepCheck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bShiftOneCheck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bShiftTwoCheck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bShiftThreeCheck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bDayRepCheck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CsvFileLocation" serializeAs="String">
                <value>C:\temp</value>
            </setting>
            <setting name="PeriodRepCheck" serializeAs="String">
                <value>False</value>
            </setting>
        </BaleReports.Properties.Settings>
    </userSettings>
</configuration>